<div class="bg">
  <div align="center">
      <div class="center">
          <br><br><br><br><br><br>
          <span class="letters">
              Produce Unlimited Movies. <br><br> Earn Unlimited Income!
          </span> <br><br><br>
          <span class="sub-letters">
              Ready to direct new or already have a movie?
          </span>
          <br><br>
          <button class="get-start" type="button" routerLink="/login" mat-flat-button color="primary">Get Start</button>
      </div>
  </div>
    <footer class="text-center text-white fixed-bottom" style="background-color: #641010;">
      <!-- Copyright -->
      <div class="text-xl-start p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.google.com/">FITOSMOVIES</a>
        The Online Stream Platform
      </div>
      <!-- Copyright -->
    </footer>
</div>
